examples/v1.0/Model-Integration.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="specif" type="specifType"/>
  <xs:complexType name="rightsType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="type"/>
      <xs:element type="xs:string" name="url"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:dateTime" name="changedAt"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="dataType"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:short" name="maxLength"/>
      <xs:element type="xs:string" name="multiple"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="type"/>
      <xs:element type="xs:string" name="value"/>
      <xs:element type="valuesType" name="values"/>
      <xs:element type="instantiationType" name="instantiation"/>
      <xs:element type="xs:string" name="isHeading"/>
      <xs:element type="propertyClassesType" name="propertyClasses"/>
      <xs:element type="xs:string" name="icon"/>
      <xs:element type="objectClassesType" name="objectClasses"/>
      <xs:element type="subjectClassesType" name="subjectClasses"/>
      <xs:element type="xs:string" name="class"/>
      <xs:element type="propertiesType" name="properties"/>
      <xs:element type="xs:string" name="object"/>
      <xs:element type="xs:string" name="subject"/>
      <xs:element type="xs:string" name="resource"/>
      <xs:element type="nodesType" name="nodes"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="valuesType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataTypesType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propertyClassesType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="instantiationType">
    <xs:sequence>
      <xs:element type="xs:string" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resourceClassesType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objectClassesType">
    <xs:sequence>
      <xs:element type="xs:string" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subjectClassesType">
    <xs:sequence>
      <xs:element type="xs:string" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statementClassesType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resourcesType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statementsType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nodesType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hierarchiesType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="specifType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="rightsType" name="rights"/>
      <xs:element type="xs:dateTime" name="createdAt"/>
      <xs:element type="dataTypesType" name="dataTypes"/>
      <xs:element type="propertyClassesType" name="propertyClasses"/>
      <xs:element type="resourceClassesType" name="resourceClasses"/>
      <xs:element type="statementClassesType" name="statementClasses"/>
      <xs:element type="resourcesType" name="resources"/>
      <xs:element type="statementsType" name="statements"/>
      <xs:element type="hierarchiesType" name="hierarchies"/>
      <xs:element type="xs:string" name="files"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>